body,
html {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

:root {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;

  margin: 0;
  padding: 0;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gentium-book plus-regular {
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: normal;
}

.gentium-book plus-bold {
}

.gentium-book plus-regular-italic {
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: italic;
}

.gentium-book plus-bold-italic {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  font-style: italic;
}

.main {
  display: flex;
}

.sections {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.section .content {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
}

.key .content {
  font-size: 3rem;
}

.section .label {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 0.5rem;
  color: #666;
}

.section .chord {
  font-size: 1.75rem;
  flex: 0 0 2.75rem;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #eee;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.25rem;
  background: #000;
  color: #fff;
}
